{% extends "base.html" %} {% load static %} {% block content %} {{ block.super }}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div class="conatiner">
        <!-- <h1>pics will be shown here</h1> -->
        {% for pic in pic_posts%}

        <div class="card" style="margin-left:2%; margin-top:3%;height: 5%;float: left;width: 30%;">
            <div class="container" style="border-top: 1px solid #EEEEEE; width: 400px; height: 100px"><br><br>
                <h2>
                    {{pic.user}}
                </h2>
                <!-- <img src="{{pic.pic.url}}" class="master-card" style="width:100px;height:100px;border-radius:50%;padding:15px; margin-top: -60px"><strong style="margin-top: 60px"><a style="color: black" href="{% url 'profile' %}">{{pic.user}}</strong>
        </div> -->
            </div>

            <img src="{{pic.pic.url}}" alt="Avatar" style="width:70%;margin-left: 3%; ">
            <h6 style="margin-left: 5%; margin-top: 2%;">{{pic.pic_caption}}</h6>
            <p style="margin-left: 5%;margin-top: 2%;">{{pic.pub_date | timesince}}</p>
            <p style="margin-left: 5%;">likes: {{pic.likes}}</p>
            <p style="margin-left: 5%;">comments:{{pic.comments}}</p>



            <div class="row">
                <div class="col-md-3">
                    <i onclick="myFunction(this)" class="fa fa-heart" style="font-size:28px;  background-color:black; margin-top: -200px; margin-left: -30px"></i>
                    <a href="{% url 'comment' id=pic.pk %} "><i class="fa fa-comment-o" style="font-size:24px; margin-left: 20px"></i></a>
                </div>


                <div class="col-md-3">
                    <textarea class="w-full no-outline h-6" style="width:200px; border-left: none;border-right: none;border-bottom: none; border-top: none" placeholder="Add a comment"></textarea> {% for comment in pic.comment.all %}
                    <div class="row">
                        <div class="col-md-1">
                            <p style=" font-weight: bold; "><a style="color: black" href="/"> {{comment.user}}</p>
                            <p>{{comment.comment}}</p>

                            
                        </div>
                    </div>
                </div>
            </div>    
    </div>                    
</div>

</div>
{% endfor %}
</div>
  </div>
</div>
</div>
</div>
</div>

</body>




{% endfor %}

</html>




{% endblock %}